*{
	margin: 0px;
	padding: 0px;
}
header{
	height: 300px;
	width: 100%;
	background: url(img/body-bg.png) repeat-x;
}
header img{
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}
header li{
	list-style: none;
	display: inline-block;
}
header ul{
	margin:0 auto;
	margin-top:15px;
	width: 952px;

	font-size: 18px;
}
header a{
	display: block;
	width: auto;
	height: 30px;
	background-color: #F2F6F7;
	text-align: center;
	text-decoration: none;
	color: black;
	min-width: 80PX;
}
header:after{
	content: "";
	width: 70%;
	height: 1PX;
	position: absolute;
	border-bottom: 2px solid grey;
	margin-left:207px;
}
header a:hover{
	background-color: #D3DDE6;
}